# .env.example
# -----------------------------------------------------------------------------
# |                         ENVIRONMENT EXAMPLE FILE                          |
# -----------------------------------------------------------------------------
#

APP_NAME="Message Notification Router"

MODEL_NAME=
MODEL_API_KEY=
MODEL_API_URL=
